#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.oops {
  width: 30%;
  height: auto;
}

#pagination {
  width: 120px;
  height: 50px;
  display: flex;
  /* flex-direction: column; */
  margin-right: 0;
  margin-left: auto;
}
.arrows {
  color: #E90F11;
  background-color: #FEDF0D;
}
.arrows:disabled {
  color: grey;
  
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
