


.article {
  width: 100%;
  background-color: bisque;
  border: 1px solid rgb(255, 255, 255);

}

.title {
  margin-left: 35px;
}

.domain {
  color: slategrey;
  margin-left: 10px;
}

.first_line {
  display: flex;
  align-items: flex-start;

}

.second_line {
  display: flex;
  align-items: flex-start;
  color: slategrey;
  margin-left: 35px;
}

.index {
  position: absolute;
}

.comments {
  margin-left: 4px;
  color: slategray;
}